.graph-container {
    width: 80%; /* Increase width */
    height: 500px; /* Increase height */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChart {
    width: 200%; /* Make the canvas fill the container */
    height: 200%; /* Adjust height as needed */
}